body {
  background-color: #f5f5f5;
}

.manage-all-productdetail {
  position: relative;
}

.manage-all-productdetail::before {
  content: "";
  width: 100%;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.productDetail-top {
  width: 100%;
  height: 560px;
  background-color: #99cc46;
  position: relative;
  top: 1rem;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
}

.productDetail-top > section {
  width: auto;
  height: auto;
  position: relative;
  float: right;
}

.productDetail-top > section > img {
  width: 388.5px;
  height: 388.5px;
  position: absolute;
  right: 3rem;
  bottom: 0;
  top: 0;
}

.productDetail-top .icons-rightImage {
  position: relative;
  width: 46px;
  height: 388.5px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: all 0.5s ease;
  padding: 5px 5px 0 0;
}

.icons-rightImage p {
  margin-top: 15px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.icons-rightImage #icon-heart {
  transform: scale(1.8);
}

.icons-rightImage #icon-network {
  position: relative;
  transform: scaleX(-1);
  font-size: 19px;
}

.icons-rightImage #icon-bell {
  transform: scale(1.8);
}

.icons-rightImage #icon-chart {
  transform: scale(1.8);
}

.icons-rightImage #icon-SquareHal {
  transform: scale(1.8);
}

.icons-rightImage #icon-ulList {
  transform: scale(1.8);
}

.icons-rightImage p:nth-child(1)::before {
  content: attr(aria-label);
  width: max-content;
  height: max-content;
  background-color: #6f6f6f;
  color: #ffffff;
  padding: 9px 15px;
  position: absolute;
  top: 9px;
  right: 3.6rem;
  z-index: 2;
  display: none;
}

.icons-rightImage p:nth-child(1)::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #6f6f6f;
  position: absolute;
  top: 17.6px;
  right: 3.11rem;
  transform: rotate(50deg);
  z-index: 1;
  display: none;
}

.icons-rightImage p:nth-child(1):hover::before,
p:nth-child(1):hover::after {
  display: block;
}

.icons-rightImage p:nth-child(2)::before {
  content: attr(aria-label);
  width: max-content;
  height: max-content;
  background-color: #6f6f6f;
  color: #ffffff;
  padding: 9px 15px;
  position: absolute;
  top: 52px;
  right: 3.6rem;
  z-index: 2;
  display: none;
}

.icons-rightImage p:nth-child(2)::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #6f6f6f;
  position: absolute;
  top: 60.9px;
  right: 3.11rem;
  transform: rotate(50deg);
  z-index: 1;
  display: none;
}

.icons-rightImage p:nth-child(2):hover::before,
p:nth-child(2):hover::after {
  display: block;
}

.icons-rightImage p:nth-child(3)::before {
  content: attr(aria-label);
  width: max-content;
  height: max-content;
  background-color: #6f6f6f;
  color: #ffffff;
  padding: 9px 15px;
  position: absolute;
  top: 99.1px;
  right: 3.6rem;
  z-index: 2;
  display: none;
}

.icons-rightImage p:nth-child(3)::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #6f6f6f;
  position: absolute;
  top: 108px;
  right: 3.11rem;
  transform: rotate(50deg);
  z-index: 1;
  display: none;
}

.icons-rightImage p:nth-child(3):hover::before,
p:nth-child(3):hover::after {
  display: block;
}

.icons-rightImage p:nth-child(4)::before {
  content: attr(aria-label);
  width: max-content;
  height: max-content;
  background-color: #6f6f6f;
  color: #ffffff;
  padding: 9px 15px;
  position: absolute;
  top: 143px;
  right: 3.6rem;
  z-index: 2;
  display: none;
}

.icons-rightImage p:nth-child(4)::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #6f6f6f;
  position: absolute;
  top: 152.68px;
  right: 3.11rem;
  transform: rotate(50deg);
  z-index: 1;
  display: none;
}

.icons-rightImage p:nth-child(4):hover::before,
p:nth-child(4):hover::after {
  display: block;
}

.icons-rightImage p:nth-child(5)::before {
  content: attr(aria-label);
  width: max-content;
  height: max-content;
  background-color: #6f6f6f;
  color: #ffffff;
  padding: 9px 15px;
  position: absolute;
  top: 185px;
  right: 3.6rem;
  z-index: 2;
  display: none;
}

.icons-rightImage p:nth-child(5)::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #6f6f6f;
  position: absolute;
  top: 194.4px;
  right: 3.11rem;
  transform: rotate(50deg);
  z-index: 1;
  display: none;
}

.icons-rightImage p:nth-child(5):hover::before,
p:nth-child(5):hover::after {
  display: block;
}

.icons-rightImage p:nth-child(6)::before {
  content: attr(aria-label);
  width: max-content;
  height: max-content;
  background-color: #6f6f6f;
  color: #ffffff;
  padding: 9px 15px;
  position: absolute;
  top: 227px;
  right: 3.6rem;
  z-index: 2;
  display: none;
}

.icons-rightImage p:nth-child(6)::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #6f6f6f;
  position: absolute;
  top: 236.5px;
  right: 3.12rem;
  transform: rotate(50deg);
  z-index: 1;
  display: none;
}

.icons-rightImage p:nth-child(6):hover::before,
p:nth-child(6):hover::after {
  display: block;
}

.productDetail-top > section #box-images {
  position: absolute;
  right: 0;
  width: fit-content;
  height: fit-content;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 7px 2px 8.5px;
}
.productDetail-top > section #box-images div {
  border: 1px solid #cccccc;
  overflow: hidden;
  border-radius: 5px;
  margin: 0 6px;
}
.productDetail-top > section #box-images img {
  width: 69px;
  height: 69px;
  padding: 8px;
  text-align: center;
  display: block;
  transform: translate(-11.5%, -11%);
}

.productDetail-top .box-left {
  width: 71.9%;
  height: 83.3%;
  background-color: rgb(255, 255, 255);
  position: relative;
  right: 27.48rem;
  top: 0;
  overflow: hidden;
}

.productDetail-top .box-left .head {
  width: 100%;
}

.productDetail-top .box-left .head h4 {
  direction: rtl;
  text-align: start;
  margin: 20px 25px;
  font-size: larger;
}

.productDetail-top .box-left .head > section {
  width: 100%;
  height: auto;
  display: flex;
  direction: rtl;
  text-align: start;
}

.productDetail-top .box-left .head > section span {
  display: block;
  text-align: start;
  direction: rtl;
  font-size: 13px;
  margin-right: 25px;
}

.productDetail-top .box-left .head > section hr {
  width: 175px;
  height: 2fr;
  color: rgb(36, 34, 34) !important;
  transform: translate(-7px, -4px);
}

.productDetail-top .box-left .box-left-bottom {
  width: 100%;
  height: 376px;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
}

.productDetail-top .box-left .box-left-bottom .box1 {
  width: 100%;
  height: 376px;
  background-color: rgb(255, 255, 255);
  padding-right: 25px;
}

.productDetail-top .box-left .box-left-bottom .box1 .amareMahsul {
  width: auto;
  height: auto;
  background-color: rgb(255, 255, 255);
  display: flex;
  direction: rtl;
  text-align: start;
}
.productDetail-top .box-left .box-left-bottom .box1 .amareMahsul #icon-star {
  color: rgb(255, 217, 0);
  margin-left: 5px;
  transform: translateY(2px);
}

.box-left-bottom .box1 .color-product {
  width: 100%;
  height: auto;
  background-color: rgb(255, 255, 255);
  margin-right: 25px;
  text-align: start;
  direction: rtl;
  font-size: 17px;
  font-weight: bold;
}

.box-left-bottom .box1 .color-product #box-color {
  width: 100%;
  height: 32px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: start;
}

.box-left-bottom .box1 .color-product #box-color input[type="radio"] {
  display: none;
}

.box-left-bottom
  .box1
  .color-product
  #box-color
  input[type="radio"]:checked
  + label {
  outline: 3px solid #00e1ffd2;
}

.box-left-bottom .box1 .color-product #box-color label {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  margin-right: 19px;
  margin-top: 18px;
  cursor: pointer;
  outline: 1px solid #6f6f6f70;
  border: 3px solid #ffffff;
}

.box-left-bottom .box1 .color-product #box-color label:focus {
  outline: 3px solid #00e1ffd2;
}

.box-left-bottom .box1 .color-product #box-color label::before {
  content: attr(aria-label);
  position: absolute;
  width: max-content;
  height: max-content;
  padding: 8px;
  background-color: #6f6f6f;
  color: #ffffff;
  border-radius: 5px;
  top: 122px;
  margin-right: 15px;
  box-sizing: border-box;
  transform: translateX(18px);
  font-size: 15px;
  display: none;
}

.box-left-bottom .box1 .color-product #box-color label::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #6f6f6f;
  transform: rotate(43deg);
  top: 117px;
  margin-right: 8px;
  display: none;
}

.box-left-bottom .box1 .color-product #box-color label:hover::before,
.box-left-bottom .box1 .color-product #box-color label:hover::after {
  display: block;
}

.box-left-bottom .box1 #vizhegiKala {
  width: 100%;
  height: 200px;
  background-color: rgb(255, 255, 255);
  text-align: start;
  direction: rtl;
}

.box-left-bottom .box1 #vizhegiKala > p {
  font-size: 18px;
  font-weight: bold;
  padding-top: 18px;
}

.box-left-bottom .box1 #vizhegiKala div section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 8px;
  transform: translateX(-2px);
}

.box-left-bottom .box1 #vizhegiKala div section .icon-circlefill {
  font-size: 6px;
  color: #cccccc;
  margin-left: 12px;
}

.box-left-bottom .box1 #vizhegiKala div section span:last-child {
  color: #686868;
  margin-right: 5px;
  font-size: 16px;
}

.box-left-bottom .box1 #Alert-Samane-Hamta {
  width: 100%;
  height: 62px;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: rgb(255, 255, 255);
  direction: rtl;
  text-align: start;
}

.box-left-bottom .box1 #Alert-Samane-Hamta #icon-alert {
  transform: rotate(180deg);
  font-size: 18px;
  width: 22px;
  color: #686868;
  margin-left: 15px;
  margin-right: 5px;
}
.box-left-bottom .box1 #Alert-Samane-Hamta p {
  width: 86%;
  height: max-content;
  font-size: 15px;
}

.productDetail-top .box-left .box-left-bottom .box2 {
  width: 50%;
  height: 395.8px;
  background-color: #f5f5f5;
  position: relative;
  left: 27px;
  bottom: 20px;
  border-radius: 8px;
  border: 1px solid #e4e4e4;
}

.productDetail-top .box-left .box-left-bottom .box2 #head {
  width: 100%;
  height: auto;
  direction: rtl;
  text-align: start;
  font-weight: lighter;
  font-size: 23px;
  background-color: transparent;
  padding: 17px 15px;
  box-sizing: border-box;
}

.productDetail-top .box-left .box-left-bottom .box2 #product-salar {
  width: 100%;
  height: max-content;
  background-color: transparent;
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  align-items: center;
  padding: 15px 15px;
  cursor: pointer;
}

.productDetail-top
  .box-left
  .box-left-bottom
  .box2
  #product-salar
  #product-some-content {
  width: max-content;
  height: max-content;
  text-align: start;
  direction: rtl;
  padding-right: 15px;
}

.productDetail-top
  .box-left
  .box-left-bottom
  .box2
  #product-salar
  #product-some-content
  p {
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-weight: 600;
}

.productDetail-top
  .box-left
  .box-left-bottom
  .box2
  #product-salar
  #product-some-content
  article
  span {
  padding-left: 6px;
}
.productDetail-top
  .box-left
  .box-left-bottom
  .box2
  #product-salar
  #product-some-content
  article
  span:last-of-type {
  color: #00a049;
}

.productDetail-top .box-left .box-left-bottom .box2 #product-salar #Vertical {
  position: relative;
  right: 27px;
  width: 30px;
  height: 1px;
  background-color: #cccccc;
  transform: rotate(90deg);
}

.productDetail-top .box-left .box-left-bottom .box2 #product-salar #AmalKard {
  position: relative;
  right: 45px;
}

.productDetail-top
  .box-left
  .box-left-bottom
  .box2
  #product-salar
  #AmalKard
  span {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 400;
}

.productDetail-top
  .box-left
  .box-left-bottom
  .box2
  #product-salar
  #AmalKard
  span:last-of-type {
  color: #00a049;
}

.productDetail-top
  .box-left
  .box-left-bottom
  .box2
  #product-salar-hidden-right {
  width: 350px;
  height: 393px;
  position: absolute;
  left: 26em;
  top: 0;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  border: 1px solid rgb(212, 210, 196);
  user-select: none;
  display: none;
}

.productDetail-top
  .box-left
  .box-left-bottom
  .box2
  #product-salar-hidden-right
  > section {
  width: 100%;
  height: auto;
  direction: rtl;
  text-align: start;
  display: flex;
}

.productDetail-top
  .box-left
  .box-left-bottom
  .box2
  #product-salar-hidden-right
  > section
  p {
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  margin-right: 0.1rem;
  padding: 25px;
}

.productDetail-top
  .box-left
  .box-left-bottom
  .box2
  #product-salar-hidden-right
  #box1
  img {
  transform: translate(-10px, 24px);
}

.productDetail-top
  .box-left
  .box-left-bottom
  .box2
  #product-salar-hidden-right
  #box2 {
  width: 100%;
  height: auto;
  flex-direction: column;
}

.productDetail-top
  .box-left
  .box-left-bottom
  .box2
  #product-salar-hidden-right
  #box2
  h1 {
  width: 100%;
  height: auto;
  text-align: center;
  color: #00a049;
  font-weight: bolder;
  direction: ltr;
  font-size: 28px;
  margin: 0;
  padding: 0;
}

.productDetail-top
  .box-left
  .box-left-bottom
  .box2
  #product-salar-hidden-right
  #box2
  h3 {
  text-align: center;
  margin: 0;
  padding: 6px 0 0 0;
}

.productDetail-top
  .box-left
  .box-left-bottom
  .box2
  #product-salar:hover
  + #product-salar-hidden-right {
  display: block;
}

.productDetail-top
  .box-left
  .box-left-bottom
  .box2
  #product-salar-hidden-right
  #progress {
  width: 300px;
  height: 30px;
  background-color: rgb(224, 224, 224);
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 14px;
  position: relative;
  overflow: hidden;
  display: flex;
}

.productDetail-top
  .box-left
  .box-left-bottom
  .box2
  #product-salar-hidden-right
  #progress
  #progress1 {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: inherit;
  background-color: rgb(255, 0, 0);
}

.productDetail-top
  .box-left
  .box-left-bottom
  .box2
  #product-salar-hidden-right
  #progress
  #progress2 {
  position: absolute;
  width: 83%;
  height: inherit;
  background-color: rgb(8, 219, 1);
  left: 0;
}

.productDetail-top
  .box-left
  .box-left-bottom
  .box2
  #product-salar-hidden-right
  hr {
  transform: translateY(48px);
  margin-bottom: 58px !important;
}

.productDetail-top
  .box-left
  .box-left-bottom
  .box2
  #product-salar-hidden-right
  #boxAkhar {
  width: 100%;
  height: auto;
}

.productDetail-top
  .box-left
  .box-left-bottom
  .box2
  #product-salar-hidden-right
  #boxAkhar
  > h1 {
  width: 100%;
  color: #00a049;
  font-size: 32px !important;
}

.productDetail-top
  .box-left
  .box-left-bottom
  .box2
  #product-salar-hidden-right
  #boxAkhar
  p {
  width: 100%;
  text-align: center;
  margin: 17px auto !important;
  padding: 0 !important;
}

.productDetail-top
  .box-left
  .box-left-bottom
  .box2
  #product-salar-hidden-right
  #boxAkhar
  ul {
  width: 100%;
  height: auto;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.productDetail-top
  .box-left
  .box-left-bottom
  .box2
  #product-salar-hidden-right
  #boxAkhar
  li {
  transform: translate(0, -5px);
  font-size: 14px !important;
  padding: 7px;
}

.productDetail-top
  .box-left
  .box-left-bottom
  .box2
  #product-salar-hidden-right
  #boxAkhar
  li
  p {
  font-size: 15px;
  margin: 0 !important;
  padding: 0 !important;
}

.productDetail-top
  .box-left
  .box-left-bottom
  .box2
  #product-salar:hover::after {
  display: block;
}

.productDetail-top .box-left .box-left-bottom .box2 #product-salar::after {
  content: "";
  width: 40px;
  height: 40px;
  transform: rotate(50deg);
  position: absolute;
  top: 7.1em;
  left: 25em;
  background-color: rgb(255, 255, 255);
  display: none;
}

.productDetail-top .box-left .box-left-bottom .box2 hr {
  width: 86%;
  margin: 2px auto;
}

.productDetail-top .box-left .box-left-bottom .box2 #Garanti {
  width: 100%;
  height: max-content;
  padding: 13px;  
  display: flex;
  flex-direction: row-reverse;
}

.productDetail-top .box-left .box-left-bottom .box2 #Garanti #icon-ShieldCheck {
  font-size: 20px;
  margin-left: 15px;
}

.productDetail-top .box-left .box-left-bottom .box2 #Garanti p {
  text-align: end;
  line-height: 25px;
  font-size: 16.5px;
}

.productDetail-top .box-left .box-left-bottom .box2 #MojudiDarAnbar {
  width: 100%;
  height: max-content;
  padding: 13px;
  display: flex;
  flex-direction: row-reverse;
}

.productDetail-top .box-left .box-left-bottom .box2 #MojudiDarAnbar #icon-StockShop {
  font-size: 20px;
  margin-left: 15px;
  color: #0fabc6;
}

.productDetail-top .box-left .box-left-bottom .box2 #MojudiDarAnbar p {
  line-height: 25px;
  font-size: 16.5px;
}

.productDetail-top .box-left .box-left-bottom .box2 #KharidVaqeimat {
  width: 100%;
  height: max-content;
  padding: 16px;
}

.productDetail-top .box-left .box-left-bottom .box2 #KharidVaqeimat #qeimat bdo:first-of-type{
  margin-left: 5px;
  font-size: 20px;
  font-weight: bolder !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.productDetail-top .box-left .box-left-bottom .box2 #KharidVaqeimat #qeimat bdo:last-of-type{
  margin-left: 5px;
  font-size: 17px;
  font-weight: lighter;
}

.productDetail-top .box-left .box-left-bottom .box2 #KharidVaqeimat #TedadKalayeMojudDarAnbar {
  width: 100%;
  height: auto;
  text-align: start;
  float: right;
  font-size: 17px;
  color: red;
  font-weight: bold;
}

.productDetail-top .box-left .box-left-bottom .box2 #KharidVaqeimat #box-EzafeKardanBeSabadKharid {
  font-size: 19px !important;
  padding: 8px !important;
  background-color: #EF394E;
  margin-top: 2.1em !important;
}

