#ManageProfile {
  width: 100%;
  height: auto;
  position: relative;
  inset: 0;
  top: 3em;
  display: flex;
  margin-top: 20px;
}

#ManageProfile .box1 {
  width: 79%;
  height: 110vh;
  position: relative;
  inset: 0;
  background-color: rgb(158, 252, 252);
  /* background-color: #f5f5f5; */
}
